*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.menu img {
    width: 50%;
    height: auto;
    max-width: 400px;  /* Prevent oversized images */
    border-radius: 8px;  /* Optional: soften edges */
}

body{
    text-align: center;
    justify-content: center;
    background-color: #fff;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   line-height: 1.6;
   max-width: 1200px;
   margin:0 auto;
   padding: 2rem;
}
.author{
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    justify-content: left;
    color: green;
    margin-bottom: 1rem;
}
.container {
    margin-bottom: 1rem;
}
.container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}
header {
    background-color: #f0f0f0;  /* Light background for emphasis */
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.header h3 {
    font-size: 1.5rem;
    color: #555;
}
.menu-item{
    margin-bottom: 1rem;
    text-align: justify;
}
.contain {
    color: #007bff;}
    
    .items{
        font-size: 1.8rem;
        color: #333;
        margin-bottom: 0.5rem;
    }
    .source{
        text-align: left;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    li{
        margin-bottom: 0.5rem;
    }
    strong{
        color: #007bff;
    }
    .head{
        color: #ff5722;
    }
    .sources h1 {
        font-size: 2rem;
        color: #222;
        margin-bottom: 1rem;
    }
    .sources img {
        width: 100%;
        max-width: 600%;
        height: auto;
        display: block;
        margin: 0 auto 1rem;
        border-radius:8px ;
    }
    ul{
        text-align: left;
        margin-left: 2rem;
        margin-bottom:1rem ;
    }
    video{
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0 auto 1rem;
    }